<!DOCTPYE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <!-- css styling link-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
    </head>
    <body>
        <div class="content">
            <!-- Heading -->
        <section>
            <div class="top">
                <!-- Logo-->
                <a href="{{ url_for('first_page') }}">
                    <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}">
                </a>
                <ul class="nav">
                    <li class="menu"> <a class="menu" href="{{ url_for('first_page') }}">
                            Reliable News
                        </a>
                    </li>
                    <li class="menu">
                        <a class="menu" href="{{ url_for('second_page') }}">
                            Filtered Out News
                        </a>
                    </li>
                    <li class="menu">
                        <a class="menu" href="{{ url_for('third_page') }}">
                            Patient App
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <h1>{{page}}</h1>
        
        <section>
            <div class="news">
                <div style="margin: 50px;">
                <!-- Print out list of reliable or unreliable news-->
                {% for i in range(num) %}
                <h2 class="relyH">{{list2[i]}}</h2>
                <p class="relyP">{{list3[i]}}</p>
                <div class="break"></div>
                <a class="relyA" href={{list1[i]}}>{{list1[i]}}</a>
                <div class="break"></div>
                {% endfor %}
                </div>
            </div>
        </section>
        </div>
    </body>
    <!-- footer -->
    <footer>
        <div class="footer">
            
        </div>
    </footer>
</html>